img{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
}
p,a{
  margin: 0;
	line-height: 1.5em;
	font-weight: 600;
}
/* text color */
.text-white{
	color: #FFFFFF;
}
.text-black{
	color: #000000;
}

/* Text X-Align */
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}

/* Text Y-Align */
.text-mid{
  vertical-align: middle;
}
.text-top{
  vertical-align: top;
}
.text-bot{
  vertical-align: bottom;
}
.text-sup{
  vertical-align: super;
}
.text-sub{
  vertical-align: sub;
}

/* Text Weight */
.text-bold{
  font-weight: bold;
}
.text-no-weight{
  font-weight: normal;
}

/* Text Decals */
.text-no-decal{
  text-decoration: none;
}

/* text font size2 */
[class*=text-em],
[class*=text-2em],
[class*=text-3em]{
  line-height: normal;
}
.text-em-1{
  font-size: 1.1em;
}
.text-em-2{
  font-size: 1.2em;
}
.text-em-3{
  font-size: 1.3em;
}
.text-em-4{
  font-size: 1.4em;
}
.text-em-5{
  font-size: 1.5em;
}
.text-em-6{
  font-size: 1.6em;
}
.text-em-7{
  font-size: 1.7em;
}
.text-em-8{
  font-size: 1.8em;
}
.text-em-9{
  font-size: 1.9em;
}
.text-2em{
  font-size: 2em;
}
.text-2em-1{
  font-size: 2.1em;
}
.text-2em-2{
  font-size: 2.2em;
}
.text-2em-3{
  font-size: 2.3em;
}
.text-2em-4{
  font-size: 2.4em;
}
.text-2em-5{
  font-size: 2.5em;
}
.text-2em-6{
  font-size: 2.6em;
}
.text-2em-7{
  font-size: 2.7em;
}
.text-2em-8{
  font-size: 2.8em;
}
.text-2em-9{
  font-size: 2.9em;
}
.text-3em{
  font-size: 3em;
}

/* Button Styling */
.btn{
  line-height: 2em;
  height: 2em;
  border-width: 1.5px;
  border-radius: 3px;
  border-style: solid;
  cursor: pointer;
  pointer-events: all;
}
a.btn{
	text-decoration: none;
	color: inherit;
}
.btn.btn-small{
  width: 180px
}
.btn.btn-med{
  width: 280px;
}
.btn.btn-big{
  width: 380px;
}
.btn.btn-fluid{
	padding: 0 30px;
	display: inline-block;
}
.btn.font-lrg{
	font-size: 1.75em;
}
.btn.font-med{
	font-size: 1.5em;
}
.btn.font-smll{
	font-size: 1.25em;
}
.btn.border-black{
	border-color: #000000;
}
.btn.border-red{
	border-color: red;
	transition: background 500ms ease-in-out;
}
.btn.border-red:hover{
	background-color: red;
}
/* block alignments */
.block{
  display: block;
}
.block-inline{
  display: inline-block;
}
/* Overlays */
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: auto;
	top: 0;
	left: 0;
	z-index: 0;
}
.overlay.quarter-black{
	background: rgba(0, 0, 0, 0.3);
}
.overlay.half-black{
	background: rgba(0, 0, 0, 0.5);
}
.overlay.black{
	background: rgba(0, 0, 0, 0.8);
}
.overlay.quarter-white{
	background: rgba(255, 255, 255, 0.3);
}
.overlay.half-white{
	background: rgba(255, 255, 255, 0.5);
}
.overlay.white{
	background: rgba(255, 255, 255, 0.8);
}
.overlay.quarter-green{
	background-color: #83D4A2;
    opacity: 0.25;
}
.overlay.half-green{
	background-color: #83D4A2;
    opacity: 0.5;
}
.overlay.green{
	background-color: #83D4A2;
}

.overlay ~ *{
	z-index: 10;
}

/* Parallax Effect */
.parallax{
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Cool Effects */
.mouse-over-reveal{
  position: relative;
  overflow: hidden;
}
.mouse-over-reveal .title-card,
.mouse-over-reveal .content-card{
  height: 100%;
  position: relative;
  transition: transform 500ms ease-in-out;
  will-change: transform;
}
.mouse-over-reveal:hover .title-card,
.mouse-over-reveal:hover .content-card{
  transform: translateY(-100%);
}

/* Table styling */
.table{
  display: table;
  width: 100%;
  height: 100%;
}
.table .table-cell{
  display: table-cell;
  padding: 0 30px;
}
